* text=auto

/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.scrutinizer.yml export-ignore
/.travis.yml export-ignore
/changelog.md export-ignore
/docs export-ignore
/README.md export-ignore
/SECURITY.md export-ignore
/test export-ignore
/travis.phpunit.xml.dist export-ignore
