<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd" backupGlobals="true" bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache" requireCoverageMetadata="false">
  <coverage includeUncoveredFiles="true">
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="PHPMailerTests">
      <directory>./test/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>languages</group>
      <group>pop3</group>
    </exclude>
  </groups>
  <logging>
    <junit outputFile="build/logs/junit.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
