<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         bootstrap="vendor/autoload.php"
         verbose="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         colors="true"
         forceCoversAnnotation="false"
         processIsolation="false">
    <testsuites>
        <testsuite name="PHPMailer Tests">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="PHPMailer\Test\DebugLogTestListener" />
    </listeners>
    <groups>
        <exclude>
            <group>languages</group>
            <group>pop3</group>
        </exclude>
    </groups>
    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
